In [1]:
import pandas as pd
import pyodbc

In [2]:
server = "localhost"
database = "cars_2021"
username = "xxxx"
password = "xxxx"

connection = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
    + server
    + ";DATABASE="
    + database
    + ";UID="
    + username
    + ";PWD="
    + password
)

def exec_query(query:str) -> pd.DataFrame:
    return pd.read_sql_query(query, connection)

In [3]:
car_classes_df = exec_query("select distinct(value) from car_specification_value where id_car_specification = 2 order by value")
car_classes_df

                value
0           Cabriolet
1               Coupe
2           Crossover
3            Fastback
4             hardtop
5           Hatchback
6   Hatchback 3 doors
7            Liftback
8           Limousine
9             Minivan
10             Pickup
11           Roadster
12              Sedan
13              Targa
14              Wagon

In [5]:
crossovers_df = exec_query("""select make.name, model.name, tr.name, tr.start_production_year, tr.end_production_year, tr.id_car_trim
from car_make make
inner join car_model model
on make.id_car_make = model.id_car_make
inner join car_trim tr
on tr.id_car_model = model.id_car_model
inner join car_specification_value specval
on tr.id_car_trim = specval.id_car_trim
where specval.value = 'Crossover'
order by make.name, model.name""")

crossovers_df

,name,name,name,start_production_year,end_production_year,id_car_trim
0,Acura,MDX,3.5 AT 4WD (263 hp),2003.0,2006.0,171644
1,Acura,MDX,3.5 AT 4WD (256 hp),NaN,NaN,189797
2,Acura,MDX,3.5 AT 4WD (290 hp),2013.0,2015.0,15563
3,Acura,MDX,3.7 AT 4WD (304 hp),2007.0,2010.0,50639
4,Acura,MDX,3.5 AT (228 hp),2001.0,2003.0,41926
...,...,...,...,...,...,...
5947,Zotye,T600,1.8 AMT (177 hp),NaN,NaN,236496
5948,ZX,Admiral,2.2 MT 4WD (105 hp),2007.0,2009.0,26712
5949,ZX,Landmark,2.4 AT AWD (126 hp),2007.0,NaN,58670
5950,ZX,Landmark,2.4 MT AWD (126 hp),2007.0,NaN,58672
5951,ZX,Landmark,2.4 MT (126 hp),2007.0,NaN,58671